[MASTER]
load-plugins=pylint_django
django-settings-module=openedx_webhook_relay.tests.settings
ignore=migrations

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    duplicate-code,
    too-few-public-methods

[FORMAT]
max-line-length=100

[DESIGN]
max-args=8
